{% extends "logged_base.html" %}

{% block subtitle %} Book {% endblock %}

{% block content %}
        <div id="book-container" class="container align-items-center">                            
            {% if book is defined %}                           
                <div class="media">
                    <img class="mr-3" src="{{ url_for('static', filename='libro.svg') }}" alt="Generic placeholder image">
                    <div class="media-body">
                        <h3 class="mt-0"><i>{{ book.title}}</i>, <b>{{ book.name }}</b> ({{ book.year }})</h3> 
                        <small>ISBN: {{ book.isbn }}</small>  
                        <h5 class="mb-1">&#11088 <b>{{ book.current_rating|round(1) }}</b>/ 5.0 <small>({{ reviews|length }} reviews)</small></h5>
                        {% if grbook is defined %}
                            <h5 class="mt-1"><a href="www.goodreads.com">Goodreads</a> &#11088: <b>{{ grbook.rating |round(1) }}</b>/ 5.0 <small>({{ grbook.count }} reviews)</small></h5> 
                        {% endif %}
                        <div id="review-box" class="media-body">
                            <p class="mt-4">Review this book: </p> 
                            <form action="{{ url_for('book', book_id = book.id) }}" method="post">                                     
                                <select id="rating_selector" class="form-control mb-2" name="rating" required="">  
                                    <option value="" selected disabled hidden>Rate this title</option>                                      
                                    <option value="1">&#11088</option>
                                    <option value="2">&#11088 &#11088</option>
                                    <option value="3">&#11088 &#11088 &#11088</option>
                                    <option value="4">&#11088 &#11088 &#11088 &#11088</option>
                                    <option value="5">&#11088 &#11088 &#11088 &#11088 &#11088</option>                        
                                </select>   
                                <textarea name="review" class="form-control mb-2 rounded" rows="3" cols="10" placeholder="Write a comment (optional)"></textarea>  
                                {% if can_review %}
                                    <button class="btn btn-lg btn-danger btn-block" type="submit">Submit</button>
                                {% else %}    
                                    <button class="btn btn-lg btn-danger btn-block" type="submit" disabled>Submit</button>
                                {% endif %}    
                            </form>
                        </div>
                    </div>
                </div>
                <div id="reviews-container" class="card-deck mt-5">
                    {% for review in reviews %}
                        <div class="card align-items-center">
                            <img class="card-img-top rounded-lg" src="{{ url_for('static', filename=review.filename) }}" alt="review avatar">
                            <div class="card-body">
                                <h5 class="card-title">{{ review.name }}</h5>
                                <p class="card-text"><i>"{{ review.comment}}"</i></p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{% for i in range(review.rating) %}&#11088 {% endfor %}</small>                                 
                            </div>
                        </div>
                    {% endfor %}
                </div>                
            {% endif %}
        </div>
{% endblock %}
