{% extends "base.html" %}

{% block subtitle %} Login {% endblock %}

{% block content %}
    <div class="container text-center justify-content-center">
        <form class="form-signup rounded-lg" action="{{ url_for('index') }}" method="post">
            {% if registration_success %}
                <div class="alert alert-success mb-3" role="alert">Registration Successful!</div>
            {% endif %}
            {% if login_fail %}
                <div class="alert alert-danger mb-3" role="alert">The username or password you have entered is invalid. Try again.</div>
            {% endif %}
            <h3 class="mb-3">Please log in to your account</h3>            
            <input type="text" name="username" class="form-control mb-2 rounded" placeholder="Username" required="" autofocus="">
            <input type="password" name="password" class="form-control mb-4 rounded" placeholder="Password" required="">
            <p>Not an user yet? <a href="{{ url_for('register') }}">Register Here!</a></p>
            <button class="btn btn-lg btn-danger btn-block" type="submit">Login</button>
        </form>
    </div>

{% endblock %}
